<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.aplikasiku">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finishTopup"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Plima"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pempat"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ptiga"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pdua"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Psatu"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".helpCenter"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".scanPesanan"
            android:parentActivityName=".Pesanan"
            android:screenOrientation="portrait"/>
        <activity android:name=".Bank"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".addsaldo"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".noLocker"
            android:parentActivityName=".rentLocker"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".confirmOrder"
            android:parentActivityName=".noLocker"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rentLocker"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity android:name=".Uploadbukti"
            android:parentActivityName=".Pilihanbank"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pilihanbank"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GantiPassword"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Scan"
            android:parentActivityName=".confirmOrder"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".resetPass"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity android:name=".Register"
            android:screenOrientation="portrait"/>
            <activity android:name=".Login"
            android:parentActivityName=".LamanUtama"
                android:screenOrientation="portrait"/>
        <activity android:name=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pesanan"
            android:parentActivityName=".Promo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProfilActivity"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".Atm"
            android:screenOrientation="portrait"/>
        <activity android:name=".Promo"
            android:parentActivityName=".LamanUtama"
            android:screenOrientation="portrait"/>
    </application>

</manifest>