<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.aplikasiku">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".scanPesanan"></activity>
        <activity android:name=".Bank" />
        <activity android:name=".addsaldo" />
        <activity android:name=".Settings" />
        <activity android:name=".noLocker" />
        <activity android:name=".confirmOrder" />
        <activity android:name=".rentLocker" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Ukuranlocker" />
        <activity android:name=".Uploadbukti" />
        <activity android:name=".Pilihanbank" />
        <activity android:name=".Ecash" />
        <activity android:name=".GantiPassword" />
        <activity android:name=".Scan" />
        <activity android:name=".Help" />
        <activity android:name=".resetPass" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".LamanUtama" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pesanan" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".PilihLocker" />
        <activity android:name=".TopUp" />
        <activity android:name=".Atm" />
        <activity android:name=".Promo" />
        <activity android:name=".KonfirmasiPesanan" />
    </application>

</manifest>