<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.aplikasiku">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".finishTopup"></activity>
        <activity
            android:name=".Plima"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".Pempat"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".Ptiga"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".Pdua"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".Psatu"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".helpCenter"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".scanPesanan"
            android:parentActivityName=".Pesanan" />
        <activity android:name=".Bank" />
        <activity
            android:name=".addsaldo"
            android:parentActivityName=".LamanUtama" />
        <activity android:name=".Settings" />
        <activity
            android:name=".noLocker"
            android:parentActivityName=".rentLocker" />
        <activity
            android:name=".confirmOrder"
            android:parentActivityName=".noLocker" />
        <activity
            android:name=".rentLocker"
            android:parentActivityName=".LamanUtama" />
        <activity android:name=".Uploadbukti" />
        <activity android:name=".Pilihanbank" />
        <activity
            android:name=".GantiPassword"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".Scan"
            android:parentActivityName=".confirmOrder" />
        <activity
            android:name=".resetPass"
            android:parentActivityName=".LamanUtama" />
        <activity android:name=".Register"/>
            <activity android:name=".Login"
            android:parentActivityName=".LamanUtama" />
        <activity android:name=".LamanUtama"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pesanan"
            android:parentActivityName=".LamanUtama" />
        <activity
            android:name=".ProfilActivity"
            android:parentActivityName=".LamanUtama" />
        <activity android:name=".TopUp" />
        <activity android:name=".Atm" />
        <activity android:name=".Promo"
            android:parentActivityName=".LamanUtama"/>
    </application>

</manifest>